<table role="presentation" align="center" width="100%" cellpadding="0" cellspacing="0" border="0" class="email-header-logo-wrap" style="margin:0 0 18px 0;border-collapse:collapse;">
    <tr>
        <td align="center" style="padding:0;">
            <a href="https://tranzrmoves.com/" style="text-decoration:none;">
                <img class="email-header-logo" src="https://tranzrmoves.com/transaction-email-assets/logo-v1.png" width="280" alt="Tranzr Moves" style="display:block;border:0;margin:0 auto;max-width:280px;height:auto;" />
            </a>
        </td>
    </tr>
</table>
