<div class="main-text" style="margin-top: 24px; font-size: 13px; color: #666;">
    You received this because you opted in to marketing from Tranzr Moves.
    {{#if preferencesUrl}}
    <a href="{{preferencesUrl}}">Manage preferences</a>
    {{/if}}
    {{#if unsubscribeUrl}}
    | <a href="{{unsubscribeUrl}}">Unsubscribe</a>
    {{/if}}
</div>
